@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    height: 100vh;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');


section .main-text {
    position: relative;
}

section .main-text::before {
    content: "";
    position: absolute;

    left: auto;
    right: auto;

    width: 200%;
    height: 200%;
    
    background-image:
        /* radial-gradient(60.56% 60.56% at 50% 50%, #2a2a2a, #000000 100%), */
        url('../Images/bg.svg');

    background-position: center;
    background-repeat: no-repeat;

    animation: 16s linear 1s infinite spin;
    animation-delay: 0s;

    z-index: 0;
    opacity: 0.2;
}

@keyframes spin{
	from{
        transform:rotate(0deg)
    }
	to{
        transform:rotate(360deg)
    }	
}


section.main {
    min-height: fit-content;
    height: calc(100% + .125rem);
    width: 100%;
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
}
.main .hero-text {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
}
.main .hero-subtext {
    font-family: Space Grotesk;
    font-weight: 300;
    letter-spacing: 0em;
}



